@model List<Vehicle>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Araç Kodu</th>
                                <th>Başlangıç Yeri</th>
                                <th>Bitiş Yeri</th>
                                <th>Rota</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vehicle in Model)
                            {
                                <tr id="vehicle-list">
                                    <td class="plate">@vehicle.PlateNumber</td>
                                    <td>@vehicle.StartLocation</td>
                                    <td>@vehicle.EndLocation</td>
                                    <td>
                                        <a class="btn btn-primary" onclick="calculateAndDisplayRoute('@vehicle.StartLocation', '@vehicle.EndLocation')">
                                            Rotayı Gör
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="map"></div>
                <div id="sidebar"></div>
            </div>
        </div>
    </div>
</body>
